:root {
  --brand-color: #1BA94C;
  --brand-color-dark: #007827;
  --disabled-color: #6EA989;
  --error-color: #A93C32;
  --font-family-sans-serif: 'Nunito', sans-serif;
  --hover-color: #F8F9FA;
  --nav-background: #39424E;
  --nav-background-dark: #171B21;
  --select-color: #007BFF;
  --success-color: #22A97A;
}

body {
  background: #F3F7F7;
  font-family: var(--font-family-sans-serif) !important;
  margin: 0;
  padding: 0;
}

.loader-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
}

.loader {
  animation: spin 2s linear infinite;
  border: 5px solid white; /* Light grey */
  border-radius: 50%;
  border-top: 5px solid var(--brand-color); /* Blue */
  height: 75px;
  margin: 20px 20px;
  width: 75px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.align-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.app-title {
  color: var(--brand-color);
}

button {
  background: var(--brand-color);
  border-bottom-color: var(--brand-color-dark);
  border-color: #088837;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2),
  inset 0 1px 1px rgba(255, 255, 255, 0.1),
  inset 0 -1px 4px rgba(32, 138, 70, 0.3);
  color: #FFF;
  cursor: pointer;
  float: right;
  font-size: 0.8em;
  height: 36px;
  margin: 24px;
  min-width: 88px;
  outline: none;
  padding: 6px 12px;
}

button:hover {
  background: var(--brand-color-dark);
}

button.disabled {
  background: var(--disabled-color);
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}

.app-nav {
  background: var(--nav-background);
  display: flex;
  flex-direction: row;
  line-height: 60px;
  max-height: 64px;
  min-height: 60px;
}

.app-title {
  align-self: center;
  color: white;
  flex: 1 1 100%;
  font-size: 22px;
  font-weight: bold;
  margin: 10px 24px;
  max-width: 30%;
}

.autocomplete {
  background: var(--nav-background-dark);
  border: 1px solid #262B32;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(13, 14, 17, 0.1),
  inset 0 1px 15px rgba(151, 159, 175, 0.05) !important;
  color: #BCC8DA !important;
  flex: 1 1 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 10px 8px;
  max-width: 30%;
  padding: 9px 16px;
  vertical-align: top;
}

.autocomplete:focus {
  outline: #030407;
}

.flex {
  display: flex;
  flex-direction: row;
}

.select-form-container {
  margin: 50px auto 0;
  max-width: 50%;
}

#profile-view {
  background: white;
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  margin: 20px auto;
  min-height: 400px;
  width: 90%;
  /*display: none;*/
}

#patient-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 24px 16px 20px;
}

#patient-name,
#patient-dob,
#patient-height,
#patient-weight {
  margin: 4px 0;
}

#patient-name {
  font-size: 20px;
}

#patient-dob,
#patient-height,
#patient-weight {
  font-size: 14px;
  font-weight: normal;
}

#patient-records-table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  margin: 20px auto 60px;
  width: 85%;
}

tr {
  border-bottom: 1px solid #DDD;
}

tr th:first-child,
tr td:first-child {
  padding-left: 12px;
}

thead tr {
  height: 32px;
}

thead tr th {
  font-weight: 800;
  text-align: start;
}

tbody tr {
  height: 40px;
}

tbody tr:nth-child(odd) {
  background: white;
}

tbody tr:nth-child(even) {
  background: #F1F1F1;
}

#table-pagination {
  display: none;
}

#table-pagination a {
  border-radius: 4px;
  color: black;
  cursor: pointer;
  float: left;
  margin: 20px 4px;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

#table-pagination a:hover:not(.active) {
  background-color: #DDD;
}

#table-pagination a.active {
  background-color: var(--brand-color);
  border: 1x solid var(--brand-color-dark);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2),
  inset 0 1px 1px rgba(255, 255, 255, 0.1),
  inset 0 -1px 4px rgba(32, 138, 70, 0.3);
  color: white;
}
